<div class="container">
  <div class="row">
            <div class="modalalert alert-danger" role="alert" style="display: none;"></div>
    <%= render 'categories' %>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=number_to_currency(@total)%></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=@expenses.count%></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=number_to_currency((@total/@expenses.count).nan? ? 0.to_f : @total/@expenses.count)%></div>
          <div class="summary-label">Average</div>
        </div>
      </div>  

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to "<span class='glyphicon glyphicon-plus'></span> New Expense</a>".html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left" %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%=@currentmonth == "" ? "All Months" : @currentmonth.strftime("%B %Y")%> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">                        
              <li role="presentation"><%= link_to "Show All", request.params.merge(month: "")%></li>
              <li role="separator" class="divider"></li>
            <%@months.each do |month|%>
              <li role="presentation"><%= link_to "#{month.strftime("%B")} #{month.year}", request.params.merge(month: month)%></li>
            <%end%>
            </ul>
          </h4>
        </div>
      </div>

      <%= render 'table' %>     
    </div>
  </div>
</div>
<div class="callout" style="display: none;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p></p>
  </div>
</div>